body{
    background: gray;
}
.a1{
    height: 100px;
    width: 300px;
    background: red;
    .a2{
        height: 50px;
        width: 150px;
        margin: 20px;
        background: green;
        p{
            font-size: 10px;
        }
    }

}